<% layout("/layouts/boilerplate") -%>
<body>
  <h3><%= listing.title %></h3>

  <div class="card col-6" style="width: 20rem">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top"
      alt="listing_image"
    />
    <div class="card-body">
      <p class="card-text"><i><%= listing.owner.username %></i></p>
      <p class="card-text"><b>Description: </b><%= listing.description %></p>
      <p class="card-text">
        <b>Price: </b> &#8377; <%= listing.price.toLocaleString("en-IN") %>
      </p>
      <p class="card-text"><b>Location: </b> <%= listing.location %></p>
      <p class="card-text"><b>Country: </b> <%= listing.country %></p>
    </div>
  </div>

  <br /><br />

  <% if(currentUser && currentUser._id.equals(listing.owner._id)) { %>
  <div class="show-btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">Edit</a>
    <br /><br />
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark delete-btn">Delete</button>
    </form>
  </div>
  <% } %> <% if(currentUser) { %>
  <div class="reviews">
    <hr />
    <h4>Leave a review</h4>
    <form
      method="POST"
      action="/listings/<%= listing.id %>/reviews"
      novalidate
      class="needs-validation"
    >
      <div>
        <label for="rating" class="form-label">Rating</label>
        <input type="range" id="rating" name="review[rating]" min="1" max="5" />
      </div>
      <div>
        <label for="comment" class="form-label">Comment</label>
        <textarea
          id="comment"
          name="review[comment]"
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please write a comment</div>
      </div>
      <button class="btn btn-outline-dark" type="submit">Submit</button>
    </form>
  </div>
  <% } %>

  <hr />

  <h4>All Reviews</h4>
  <ul>
    <% for(let review of listing.reviews) { %>
    <li>
      <b>By: </b> <%= review.author.username %> <br />
      <b>Rating: </b> <%= review.rating %> <br />
      <b>Comment: </b> <%= review.comment %> <br />
    </li>
    <form
      method="POST"
      action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
    >
      <button class="btn btm-sm btn-dark delete-btn">Delete</button>
    </form>
    <% } %>
  </ul>
</body>
